pre_bk_rm/*.jpg
pre_bk_rm/*.png
pre_bk_rm/mobile_net_model/
pre_bk_rm/xception_model/
pre_bk_rm/.ipynb_checkpoints/
!pre_bk_rm/image_4.jpg
!pre_bk_rm/output_4.png
.DS_Store
bk_rm/.DS_Store
checkpoints/
shape_predictor_68_face_landmarks.dat

